body {
  color: #000;
}

.header {
  .logo {
      width: 120px;
      height: 82px;
  }
}

.headline {
  .caption {
    position: relative;
    width: 350px;
    }
    .title {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.6);
      h1 {
    color: #fff;
    font-size: 350px;
      }
    }
    .body {
      font-size: 350px;
    }
  }
}

.posts {
  .post {
    .date {
      font-size: 350px;
      color: #999999;
    }
    .title {
      font-size: 350px;
      font-weight: bold;
    }
    .body {
      font-size: 350px;
    }
  }
}